body{
    background-color: #252424;
    color: #a8cefa;}
#heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 50px;
    padding: 0;
    margin: 0;
}
#main-div{
    background: #dfdada;
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 30px;
}
#sub-div{
    background-color: #000000, 17, 17);
    padding: 20px;
    border-radius: 10px;
    height: 320px;
    width: 700px;
    margin: auto;
}
#screen{
    background-color: #0000009c;
    width: 700px;
    height: 60px;
    border-radius: 10px;
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins', Regular ;
    font-size: 25px;
}
#left{
    
    width: 52%;
    text-align: right;
    float: left;
}
#right{
    

}
.numbers{
    margin: 3px;
    padding: 5px;
    width: 100px;
    height: 55px;
}
.multi{
    width: 120px;
    height: 55px;
    margin: 3px;
    padding: 5px;
}
.percent{
    width: 120px;
    height: 55px;
    margin: 3px;
    padding: 5px;
}
.divide{
    width: 120px;
    height: 55px;
    margin: 3px;
    padding: 5px;
}
.minus{
    text;
    width: 120px;
    height: 55px;
    margin: 3px;
    padding: 0px 0px 0px 5px;
}
.pluse{
    font-size: 50px;
    font-weight: bold;
    width: 120px;
    height: 116px;
    margin: 3px;
    padding: 5px;
}
.equals{
    font-size: 50px;
    font-weight: bold;
    width: 120px;
    height: 116px;
    margin: 3px;
    padding: 0px;
}
.equals:hover{
    background-color: #0032bbad;
    color: #ebf1ff;
    border: 10px solid #008f00
}
button{
    font-size: 25px;
    background-color: #7182e29a;
    color: #230064;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'PT Serif', regular;
    transition-duration: 0.4s;
    border: 2px ridge #220af8b9;
}
button:hover {
    background-color: #001a63c7;
    color: #ebf1ff;
    /* border: 4px groove #8f0000; */
}
button:active{
    background-color:#07084d;
    transition-duration: 1ms;
}